{% extends 'base.html.twig' %}

{% block title %}Ajouter un auteur{% endblock %}

{% block body %}
    <h2 style="text-align: center;">Ajouter un auteur</h2>

    <div style="width: 50%; margin: auto;">
        {{ form_start(formulaire) }}
            {{ form_label(formulaire.username, 'Votre nom') }}
            {{ form_widget(formulaire.username) }}
            {{ form_errors(formulaire.username) }}

            <br>

            {{ form_label(formulaire.email, 'Votre email') }}
            {{ form_widget(formulaire.email) }}
            {{ form_errors(formulaire.email) }}

            <br>

            <button type="submit" class="btn btn-primary">✅ Enregistrer</button>
        {{ form_end(formulaire) }}
    </div>
{% endblock %}
