{% extends 'base.html.twig' %}

{% block title %}Modifier le livre{% endblock %}

{% block body %}
<h1>Modifier le livre: {{ book.title }}</h1>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

{{ form_start(formBook) }}
    {{ form_widget(formBook) }}
    <button class="btn btn-primary mt-2">Modifier</button>
{{ form_end(formBook) }}

<a href="{{ path('book_list') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
